.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 0;
    background-color: #f5f5f5;
    color: rgba(16, 99, 78, 0.9);

    .footer_sec1{
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        img{
            width: 50%;
        }

        input{
            width: 100%;
            height: 40px;
            padding: 10px;
        }
    }

    .footer_sec2{
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
        }
    }

    .footer_sec3{
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
        }
    }

    .footer_sec4{
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
        }
    }

}

@media screen and (max-width: 576px) {
    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .footer_sec1{
            width: 100%;

            input{
                width: 100%;
            }
        }
        .footer_sec2{
            width: 100%;
        }
        .footer_sec3{
            width: 100%;
        }
        .footer_sec4{
            width: 100%;
        }
    }
    
}