.pricing{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;

    i{
        color: rgba(16, 99, 78, 0.9);
    }
    h1{
        font-size: 2rem;
        font-weight: bold;
        color: rgba(16, 99, 78, 0.9);
    }

    .pricing_box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        ;

        .pricing_box_item{
            width: 27%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 3rem 0;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            background-color: rgba(234, 234, 234, 0.9);
            color: rgba(16, 99, 78, 0.9);

            p:nth-of-type(1){
                font-size: 1.5rem;
                font-weight: bold;
            }
            h4{
                font-size: 1.5rem;
            }
            p:nth-of-type(2){
                text-align: center;
                font-size: 1.2rem;
            }
            button{
                width: 40%;
                padding: 10px;
                border-radius: 25px;
                background-color: transparent;
                color: rgba(16, 99, 78, 0.9);
                border: 1px solid rgba(16, 99, 78, 0.9);
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;
    
                &:hover{
                    background-color: #3e8e41;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .pricing{
        width: 100%;
        .pricing_box{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            .pricing_box_item{
                width: 70%;
            }
        }
    }
}